<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Node.js Bootcamp
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
      </style>
  </head>
  <body>
    <header>
    </header>
    <main>
      <section class="bg-success">
        <div class="container">
          <div class="d-flex flex-column flex-md-row justify-content-between align-items-center py-3">
            <h3 class="mb-3 mb-md-0 fw-bold text-light">
              Get in touch with us
            </h3> 
            <div class="input-group contact-input">
              <input type="email" class="form-control" placeholder="Enter email">
              <button class="btn btn-dark" type="button">Submit</button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="/js/app.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
