<main>
  <section class="py-4" id="intro">
    <div class="container">
      <div class="text-center">
        <h2 class="text-dark text-capitalize fw-bold">
          why learn node.js ?
        </h2> 
        <div class="border-top border-3 border-success w-15 mx-auto mt-3 mb-5">
        </div>
        <p class="text-muted lh-lg">
          Node.js is an open-source, server-side runtime
          environment. It allows you to run JavaScript on
          the server. Node.js is commonly used for programming
          web servers, i.e., server-side JavaScript. 
        </p>
        <p class="text-muted lh-lg">
          Node.js is cross-platform, so you can run it on
          Windows, macOS, and Linux, and it uses the JavaScript
          programming language. It's a powerful runtime
          environment that has been ranked the technology most
          commonly used by developers.
        </p>
        <p class="text-muted">
          Node.js allows you to build highly-scalable, fast,
          and secure RESTful APIs with Node, Express,
          and MongoDB. It's a great tool for building
          modern, modular JS applications.
        </p>
      </div>
    </div>
  </section>
</main>
