<main>
  <section id="instructors" class="py-4">
    <div class="container text-center">
      <h2 class="text-dark text-capitalize fw-bold">
        meet our instructors
      </h2> 
      <div class="border-top border-3 border-success w-15 mx-auto mt-3 mb-5">
      </div>
      <p class="text-muted lh-lg">
        The course is taught by experienced instructors
        who have created courses across the web development
        catalog on languages such as JavaScript, PHP, and CSS,
        frameworks like React and Node.js, and the Front-End
        Engineer Career Path. They have also created courses
        on p5.js, build tools, and Intro to UI and UX Design.
      </p>
      <p class="text-muted lh-lg">
        You will learn from experts who have taught over 10
        million students, have over 3 million YouTube fans,
        and have over 20 years of experience in the industry.
      </p>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="card bg-light border-0">
            <div class="card-body text-center">
              <img class="rounded-circle" src="https://randomuser.me/api/portraits/men/11.jpg" alt=""> 
              <h4 class="my-3 text-capitalize fw-bold">
                jesse pinkman
              </h4>
              <p>
                Lorem ipsum dolor sit amet, officia excepteur
                ex fugiat reprehenderit enim labore culpa sint
                ad nisi Lorem pariatur mollit ex esse exercitation
                amet. Nisi anim cupidatat excepteur officia.
                Reprehenderit nostrud nostrud ipsum Lorem est
                aliquip amet voluptate voluptate dolor minim
                nulla est proident.
              </p>
            </div>
          </div> 
        </div> 
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="card bg-light border-0">
            <div class="card-body text-center">
              <img class="rounded-circle" src="https://randomuser.me/api/portraits/men/18.jpg" alt=""> 
              <h4 class="my-3 text-capitalize fw-bold">
                morgan freeman
              </h4>
              <p>
                Lorem ipsum dolor sit amet, officia excepteur
                ex fugiat reprehenderit enim labore culpa sint
                ad nisi Lorem pariatur mollit ex esse exercitation
                amet. Nisi anim cupidatat excepteur officia.
                Reprehenderit nostrud nostrud ipsum Lorem est
                aliquip amet voluptate voluptate dolor minim
                nulla est proident.
              </p>
            </div>
          </div>
        </div> 
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="card bg-light border-0">
            <div class="card-body text-center">
              <img class="rounded-circle" src="https://randomuser.me/api/portraits/women/0.jpg" alt=""> 
              <h4 class="my-3 text-capitalize fw-bold">
                hannah montana
              </h4>
              <p>
                Lorem ipsum dolor sit amet, officia excepteur
                ex fugiat reprehenderit enim labore culpa sint
                ad nisi Lorem pariatur mollit ex esse exercitation
                amet. Nisi anim cupidatat excepteur officia.
                Reprehenderit nostrud nostrud ipsum Lorem est
                aliquip amet voluptate voluptate dolor minim
                nulla est proident.
              </p>
            </div>
          </div>
        </div> 
      </div>
  </section>
</main>

