<main>
  <section id="course-overview" class="py-4">
    <div class="container">
      <div class="text-center">
        <h2 class="text-dark text-capitalize fw-bold">
          course overview
        </h2>
        <div class="border-top border-3 border-success w-15 mx-auto mt-3 mb-5">
        </div>
        <p class="text-muted lh-lg">
          In this course, you will learn the fundamentals
          of Node.js and its role in server-side JavaScript
          development. You will master the core modules
          and APIs in Node.js and utilize NPM (Node Package Manager)
          to manage third-party libraries. You will build
          RESTful APIs using Node and Express.js, store and
          retrieve data using Mongoose, implement data
          validation, handle authentication and authorization,
          handle and log errors effectively, and write unit
          and integration tests.
        </p>
        <p class="text-muted lh-lg">
          The course is perfectly structured into a series
          of bite-sized, easy-to-follow videos that cover
          both theory and practice. You will have access
          to 15 hours of HD video, 220 lessons, downloadable
          content, hands-on exercises, English captions,
          a certificate of completion, and lifetime access.
          You can learn at your own pace and track your
          progress with the free "My Learning" program.
        </p>
      </div>
      <div class="text-center my-4">
        <h2 class="text-dark text-capitalize fw-bold">
          course modules
        </h2> 
        <div class="border-top border-3 border-success w-15 mx-auto mt-3 mb-5">
        </div>
        <p class="text-muted">
          The course is based on four modules, each containing
          several video explanations and projects. The modules
          are as follows:
        </p>
        <div class="row py-4">
          <% courseModules.map((module) => {%>
            <div class="col-md-6 col-lg-4 my-4 text-center">
              <div class="card">
                <div class="card-header border-0">
                  <i class="display-1 text-success"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title text-capitalize">
                    <%= module.title %>
                  </h5> 
                  <p class="card-text">
                    <%= module.description %>
                  </p>
                  <button type="button" class="btn btn-outline-success text-capitalize">
                    learn more
                  </button>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
  </section>
</main>
